@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}
.Mail {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(90deg, #c7c5f4, #776bcc);
}

.border {
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  width: 600px;
}

h2 {
  margin-top: 0;
}

.input-field {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
}
.alert {
  position: fixed;
  top: 60px;
  right: 20px;
  z-index: 9999;
}
